@using SiteNews.ViewModels
@using SiteNews.sakila
@model NewsViewModel
@addTagHelper *, SiteNews
@addTagHelper *, SiteNews.TagHelpers

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-3 mb-3">
        <a asp-controller="News" asp-action="Create" class="btn btn-success d-block my-3">Создать новость</a>
        <div class="card">
            <div class="card-header">
                Поиск
            </div>
            <div class="card-body">

                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">

        <filter-page-link-helper page-view-model="Model.Display">
        </filter-page-link-helper>

        <table class="table table-bordered">
            <tr>
                <th>Мета</th>
                <th>Название</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (News n in Model.Elements)
            {
                <tr>
                    <td>
                        <span class="d-block badge bg-secodery">@n.IdNews</span>
                        <span class="d-block badge bg-secodery">@n.Data.Date</span>
                    </td>
                    <td><a asp-controller="News" asp-action="Read" asp-route-id="@n.IdNews">@n.NameLong</a></td>
                    <td>
                        @switch (n.NameCategory)
                        {
                            case 0: <a asp-controller="News" asp-action="Confirm" asp-rout-id="@n.IdNews" asp class="btn btn-sm d-block btn-secondery">Опубликовано</a> break;
                            case 1: <a asp-controller="News" asp-action="Confirm" asp-rout-id="@n.IdNews" class="btn btn-sm d-block btn-warning">На рассмотрении</a> break;
                            case 2: <a asp-controller="News" asp-action="Confirm" asp-rout-id="@n.IdNews" class="btn btn-sm d-block btn-danger">Отменено</a> break;
                            default: <a asp-controller="News" asp-action="Confirm" asp-rout-id="@n.IdNews" class="btn btn-sm d-block btn-danger">Отменено</a> break;
                        }
                        </td>
                    <td><a asp-controller="News" asp-action="Update" asp-rout-id="@n.IdNews" class="btn btn-sm d-block btn-primary">Редактировать</a></td>
                </tr>
            }

        </table>

        <filter-page-link-helper page-view-model="Model.Display">
        </filter-page-link-helper>
    </div>
</div>
